<!doctype html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galery</title>
    <link href="{% static 'css/galery.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    <div class="galery">
        <div class="big-photo">
            <img src="{% static 'images/karacul.jpg' %}" alt="Озеро каракуль">
        </div>
        <div class="mini-photo">
            <img src="{% static 'images/ekb.jpg' %}" alt="Екатеринбург">
            <img src="{% static 'images/bonfire.jpg' %}" alt="Костёр">
            <img src="{% static 'images/higtEkb.jpg' %}" alt="Высокий Екатеринбург">
            <img src="{% static 'images/mat-mex.jpg' %}" alt="Мат-мех">
            <img src="{% static 'images/konfuzy.jpg' %}" alt="Конфуций">
        </div>
    </div>
    <div class="content">
        <div class="content-meny">
            <div class="menu">
                <p>Меню</p>
            </div>
            <div class="ascent-menu">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a target="_blank" href="/info">Информация обо мне</a></li>
                    <li><a target="_blank" href="/gallery">Галерея</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>