<!doctype html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link href="{% static 'css/gallery.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body onkeydown="onEsc(event)" onload="onLoad();onLoad1()">
    <div class="gallery">
        {% for anchor, id, image, min_image in images %}
            <a href="{{ anchor }}" class="cards-img">
                <img src="{% static min_image %}" alt="" class="main-img load">
            </a>
            <article id="{{ id }}" class="cards">
                <div class="div-image">
                    <img src="{% static image %}" alt="" class="modal-image load">
                    <div class="like">
                        <button onclick="like('{{ image }}')" class="like-button">
                            <img src="{% static 'images/like.png' %}" width="50" height="50" />
                        </button>
                        <img class="likes-count" src="/like?what=count&anchor={{ image }}">
                    </div>
                </div>
            </article>
            <a href="#close" title="Закрыть" class="close">
                <img src="{% static 'images/close.png' %}" alt="">
            </a>
        {% endfor %}
        <div id="help" title="Help" class="help">
            <div class="help-div">
                <h4>Справка по галереи</h4>
                <p>Чтобы переключать фотографии можно воспользоваться
                    клавишами вправо/влево или мышкой</p>
                <p>ESC скрывает картинку, закрыть картинку
                    также можно с помощью крестика в правом углу</p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-meny">
            <div class="menu">
                <p>Меню</p>
            </div>
            <div class="ascent-menu">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a target="_blank" href="/info">Информация обо мне</a></li>
                    <li><a target="_blank" href="/gallery">Галерея</a></li>
                    <li><a target="_blank" href="/comment">Отзывы</a></li>
                    <li><img src="/visits?path=/gallery" alt="" class="visits"></li>
                    <li><a target="_blank" href="/visit">Все посещения</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/index.js' %}"></script>
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{% static 'scripts/comment.js' %}"></script>
</body>
</html>