<!doctype html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/info.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <title>Info</title>
</head>
<body>
    <div class="content">
        <div class="info">
            <div class="my-photo">
                <img src="{% static 'images/I.jpg' %}" alt="У вас не отображаются картинки.
                Тут должна была быть моя фотография">
            </div>
            <div class="info-about-me">
                <h2>Седова Ирина</h2>
                <p>
                    <strong>Дата рождения:</strong> 4 июня 1996
                </p>
                <p>
                    <strong>Семейное положение:</strong> Не замужем, детей нет
                </p>
                <p>
                    <strong>Образование:</strong>
                    Незаконченное высшее (Компьютерная безопасность - 3 курс)
                    Учусь в <a href="http://urfu.ru">УрФУ</a> на
                    <a href="https://vk.com/math_mech">мат-мехе</a>
                </p>
                <p>
                    <strong>Дополнительная информация:</strong>
                    Люблю изучать различные языки, программные и не только!!!
                    Очень общительная. Стрессоустойчивая.
                </p>
            </div>
            <div class="contact-info">
                <p><a href="mailto:irinasedova2011@gmail.com">
                    irinasedova2011@gmail.com</a></p>
                <p><a href="https://vk.com/id95586611">vk.com</a></p>
                <p><strong>Телефон:</strong> +7 (912) 698-79-06</p>
            </div>
        </div>
        <div class="content-meny">
            <div class="menu">
                <p>Меню</p>
            </div>
            <div class="ascent-menu">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a target="_blank" href="/info">Информация обо мне</a></li>
                    <li><a target="_blank" href="/gallery">Галерея</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>