.close
{
    width: 30px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 2;
}

.close > img
{
    width: 100%;
}

.gallery
{
    display: inline-block;
}

.div-image
{
    height: 100%;
}

.div-image > img
{
    max-height: 90%;
    max-width: 90%;
}

.cards
{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 1;
    display: none;
}

.cards:target ~ .close
{
    display: block;
}

.cards:target
{
    display: block;
}

.modal-image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

body
{
    position: relative;
}

.cards-img
{
    display: inline-block;
    vertical-align: top;
    border: 2px solid #7ec0ee;
    width: 300px;
    height: 300px;
    padding: 4px;

    text-decoration: none;
    color: #000;
    min-width: 150px;
}

.help
{
    position: fixed;
    text-decoration: none;
    color: black;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

.help:target
{
    display: block;
}

.cards-img:hover
{
    content: "zsdgf";
}

.load{
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

.like {
    position: relative;
    z-index: 1000;
    color: #fff;
}

.like-button {
    background: transparent;
    border: none;
}

.like-button:hover {
    cursor: pointer;
}