.info
{
    display: inline-block;
    width: 100%;
    color: #edd5ff;
}

.my-photo
{
    display: inline-block;
    width: 300px;
    margin: 0 100px 0 50px;
}

.my-photo img
{
    width: 300px;
    text-align: left;
}

.my-photo
{
    text-align: left;
}

.info-about-me
{
    display: inline-block;
    text-align: left;
    width: 300px;
    margin: 0 50px;
}

.contact-info
{
    display: inline-block;
    text-align: left;
    width: 300px;
    margin: 0 50px;
}
.contact-info a,
.info-about-me a
{
    color: azure;
    font-size: large;
}


